@import '@/assets/breakpoints.scss';

$mobile-min-width: $mobile-start;
$tablet-min-width: $tablet-start;
$desktop-min-width: $desktop-start;

// 

$scrollbar-width: 6px;
$scrollbar-height: 2px;

// 

$module-width: calc(100dvw);

$main-container-max-width: $desktop-min-width;
$main-container-width: min($module-width, $main-container-max-width);
$main-module-padding: calc((100% - $main-container-width)/2);
